<html>
<head>
    <title>Add New Account</title>
</head>
<body>
<h1>Add New Account</h1>
<form action="/account/insert" method="get">
     email: <input id="email" name="email" type="text" />
    first name: <input id="first_name" name="first_name" type="text" />
    last name: <input id="last_name" name="last_name" type="text" />
    <br />
    <br />

    <input type="submit" />

</form>
</body>

</html>