<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body background="/images/arsenal.jpg">>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <p><font size="6"><a href="/stadium/all">Stadiums </a> </font></p> <br />
    <br/>
    <p><font size="6"><a href="/player/all">Players!</a> </font></p><br />
    <br/>
    <p><font size="6"><a href="/game/all">Match </a> </font></p><br />
    <br/>
    <p><font size="6"><a href="/company/all">About</a> </font></p><br />
    <br/>
    <p><font size="6"><a href="/team/all">Teams</a> </font></p><br />

    <br />


  </body>
</html>
