<html>
<head>
    <title>Add New skill</title>
</head>
<body>
<h1>Add New skill</h1>
<form action="/skill/insert" method="get">
     Skill Name: <input id="skill_name" name="skill_name" type="text" />
    description: <input id="description" name="description" type="text" />
    <br />
    <br />

    <input type="submit" />

</form>
</body>

</html>