<html>
<head>
    <title>Add New Company</title>
</head>
<body>
<h1>Add New Comment</h1>
<form action="/company/insert" method="get">
    Comment: <input id="company_name" name="company_name" type="text" />

    <br />
    <br />

    <input type="submit" />

</form>
</body>

</html>