<html>
    <head>
        <title>Company</title>
    </head>
    <body>
        <h1>Company</h1>
        <table border="1">
            <tr><th>Company ID</th><th>Comapny Name</th></tr>
            <% for(var i=0; result.length > i; i++ ) { %>
            <tr>
                <td><%= result[i].company_id%></td>
                <td><a href="/resume/?resume_id=<%= result[i].company_id %>"><%= result[i].comapny_name %></a></td>
                <td><%= result[i].company_id %></td>
            </tr>
            <% } %>
        </table>
    </body>

</html>