<html>
<head>
    <title>Comment - <%= result[0].company_name %></title>
<body style="background-color:powderblue;">
    <h1>About</h1>
    <ul>
            <li>Comments: <%= result[0].company_name %></li>
        </br>



    </ul>
</body>

</html>