<html>
<head>
    <title>Add New Address</title>
</head>
<body>
<h1>Add New Address</h1>
<form action="/address/insert" method="get">
     Address identification number: <input id="address_id" name="address_id" type="text" />
     Street Name: <input id="street" name="street" type="text" />
     Zip Code: <input id="zip_code" name="zip_code" type="text" />
    <br />
    <br />

    <input type="submit" />

</form>
</body>

</html>