<html>
<head>
    <title>Add New Player</title>
</head>
<body style="background-color:powderblue;">
<h1>Add New Player</h1>
<form action="/player/insert" method="get">
    ID: <input id="player_id" name="player_id" type="text" />
    first name: <input id="first_name" name="first_name" type="text" />
    last name: <input id="last_name" name="last_name" type="text" />
    Number of Goals: <input id="number_goals" name="number_goals" type="text" />
    Age: <input id="age" name="age" type="text" />
    <br />
    <br />

    <input type="submit" />

</form>
</body>

</html>